.fa-circle-o-notch.fa-spin {
-webkit-transform-origin: 50% 48.9%;
-moz-transform-origin: 50% 48.9%;
-ms-transform-origin: 50% 48.9%;
-o-transform-origin: 50% 48.9%;
transform-origin: 50% 48.9%;
}

.navbar-right span {
  padding-right: 20px;
  line-height: 45px;  
}

.act-as-link {
  cursor: pointer;
}