<div class="row" ng-controller="SessionsCtrl">
  <div class="col-md-4">
    <div class="login-notebook" ng-init="app.settings.container = false;">
      <div>
        <form name="form" class="form-validation">
          <div class="text-danger wrapper text-center" ng-show="errorAuth != null">
              {{errorAuth}}
          </div>
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <input type="text" placeholder="Username" class="form-control no-border" ng-model="user.username" required>
            </div>
            <div class="list-group-item">
               <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-info btn-block" ng-click="login()" ng-disabled='form.$invalid'>Log in</button>
          <div class="m-t m-b"><a ui-sref="access.forgotpwd">Forgot password?</a></div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="detail-login">
      <h3>Welcome to eresto</h3>
      <h4>{{ clock | date:'EEEE, dd MMMM yyyy' }}</h4>
      <h1>{{ clock | date:'h:mm:ss a' }}</h1>
    </div>
  </div>
</div>